@charset "utf-8";
@font-face {
  font-family: sf_pro_displaybold;
  font-style: normal;
  font-weight: 400;
  src: url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplaybold-webfont.eot");
  src: url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplaybold-webfont.eot?#iefix") format("embedded-opentype"),
       url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplaybold-webfont.woff2") format("woff2"),
       url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplaybold-webfont.woff") format("woff"),
       url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplaybold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: sf_pro_displayregular;
  font-style: normal;
  font-weight: 400;
  src: url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplayregular-webfont.eot");
  src: url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplayregular-webfont.eot?#iefix") format("embedded-opentype"),
       url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplayregular-webfont.woff2") format("woff2"),
       url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplayregular-webfont.woff") format("woff"),
       url("https://i.tmgrup.com.tr/mobileapi/ahaber/styles/v3/c/sfprodisplayregular-webfont.ttf") format("truetype");
}
body,
html,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
}
.toolbar-ios ion-title img,
.toolbar-md ion-title img {
  width: 126px !important;
}
page-home .page-segment {
  display: none;
}
a[href^="album://"]:not([class^=style])
{
  border-left: 5px solid #c20430;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #202e44;
  display: block;
  font-size: 26px;
  margin-bottom: 16px;
  min-height: 80px;
  overflow: hidden;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.app-columnist img,
.app-columnist p img,
.app-cover img,
.app-cover p img,
.app-gallery img,
.app-gallery p img,
.app-news img,
.app-news p img,
.app-static img,
.app-static p img,
.app-video img,
.app-video p img,
.contentDesc img {
  display: block;
  height: auto !important;
  margin-bottom: 2px;
  width: 100% !important;
}
.app-columnist img[src*="bullet.jpg"],
.app-columnist img[src*="reddot.jpg"],
.app-columnist p img[src*="bullet.jpg"],
.app-columnist p img[src*="reddot.jpg"],
.app-gallery img[src*="bullet.jpg"],
.app-gallery img[src*="reddot.jpg"],
.app-gallery p img[src*="bullet.jpg"],
.app-gallery p img[src*="reddot.jpg"],
.app-news img[src*="bullet.jpg"],
.app-news img[src*="reddot.jpg"],
.app-news p img[src*="bullet.jpg"],
.app-news p img[src*="reddot.jpg"],
.app-static img[src*="bullet.jpg"],
.app-static img[src*="reddot.jpg"],
.app-static p img[src*="bullet.jpg"],
.app-static p img[src*="reddot.jpg"],
.app-video img[src*="bullet.jpg"],
.app-video img[src*="reddot.jpg"],
.app-video p img[src*="bullet.jpg"],
.app-video p img[src*="reddot.jpg"],
.contentDesc img[src*="bullet.jpg"],
.contentDesc img[src*="reddot.png"] {
  height: auto !important;
  width: auto !important;
}
.app-cover {
  color: #474753;
  font-family: sf_pro_displayregular, -apple-system, BlinkMacSystemFont, Segoe,
    Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 18px;
  line-height: 1.4;
}
.app-cover iframe:not([id^="google_ads_iframe"]) {
  border: 0;
  height: calc(56.25vw - 10px);
  margin-bottom: 16px;
  width: 100% !important;
}
.app-cover p > iframe:not([id^="google_ads_iframe"]) {
  margin-bottom: 0;
}
.app-cover .twitter-tweet {
  margin-bottom: 20px !important;
}
.app-cover iframe[id^="twitter-widget"] {
  margin: 0 !important;
  max-height: none !important;
}
.app-cover .iframeCanliSkorLig iframe {
  background: #fff;
  height: 938px !important;
}
.app-cover table {
  display: block;
}
.app-cover table > tbody > tr > td,
.app-cover table > thead > tr > th {
  padding: 5px 10px;
  white-space: nowrap;
}
.app-cover table {
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto !important;
  margin: 0 0 20px;
  overflow-y: hidden;
  width: 100% !important;
  word-break: normal;
}
.app-cover table > tbody > tr > td,
.app-cover table > tbody > tr > th,
.app-cover table > tfoot > tr > th,
.app-cover table > thead > tr > td,
.app-cover table > thead > tr > th {
  border: 1px solid #e9ecef;
  color: initial;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  padding: 5px 2px;
  text-align: center;
  vertical-align: middle;
}
.app-cover table > tbody > tr > td:first-child,
.app-cover table > thead > tr > th:first-child {
  padding-left: 10px;
}
.app-cover table a,
.app-cover table > tbody > tr > td:first-child,
.app-cover table > tbody > tr > td:last-child {
  color: #000 !important;
}
.app-cover table a {
  text-decoration: underline;
}
.app-cover table > tbody > tr > td:first-child,
.app-cover table > thead > tr > th {
  font-weight: 700;
}
.app-cover .application-widget {
  display: none;
}
.dark {
  background-color: #27292f;
  color: #fff;
}
.canli-skor-frame {
  background-color: #fff;
}
.app-cover b,
.app-cover h1,
.app-cover h2,
.app-cover h3,
.app-cover h4,
.app-cover h5,
.app-cover strong {
  font-family: sf_pro_displaybold;
  font-weight: 400;
}
.app-cover h1,
.app-cover h2,
.app-cover h3,
.app-cover h4,
.app-cover h5,
.app-cover p {
  display: block;
  margin-bottom: 16px;
}
.app-cover h1,
.app-cover h2,
.app-cover h3,
.app-cover h4,
.app-cover h5 {
  font-size: 22px;
}
.app-cover a {
  color: #4a5169;
  text-decoration: underline;
}
.app-cover.dark a {
  color: #fff;
}
.app-cover ul {
  list-style: disc;
}
.app-cover ol {
  list-style: decimal;
}
.app-cover ol,
.app-cover ul {
  padding-left: 30px;
}
.dark.app-cover strong span {
  color: #fff;
}
.dark.app-cover span[style*="background-color"],
.dark.app-cover strong span [style*="background-color"] {
  color: #000 !important;
}
.size1 {
  font-size: 14px;
}
.size2 {
  font-size: 16px;
}
.size3 {
  font-size: 18px;
}
.size4 {
  font-size: 20px;
}
.size5 {
  font-size: 22px;
}
.size6 {
  font-size: 24px;
}
.size7 {
  font-size: 26px;
}
.size8 {
  font-size: 28px;
}
.size9 {
  font-size: 30px;
}
.size10 {
  font-size: 32px;
}
.size11 {
  font-size: 34px;
}
.size12 {
  font-size: 36px;
}
.size13 {
  font-size: 38px;
}
.size14 {
  font-size: 40px;
}
.directLink {
  border: 1px solid #e4e3e3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #272727;
  display: block;
  font-weight: 600;
  margin: 0 0 15px;
  max-height: 95px;
  overflow: hidden;
  padding-left: 12px;
  position: relative;
  width: 100%;
}
.directLink:before {
  background-color: #4a4a4a;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
  z-index: 4;
}
.directLink a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #272727;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0 !important;
  position: static !important;
  text-decoration: none;
}
.dark .directLink a {
  background-color: #313131;
}
.directLink a[href^="video:"],
.directLink.gal a,
.directLink.wtv a {
  padding-right: 40px !important;
}
.directLink img {
  height: inherit;
  max-height: 95px;
  max-width: 140px !important;
  min-width: 100% !important;
  position: static !important;
  width: auto !important;
}
.directLink em,
.directLink strong {
  color: #272727;
  display: table-cell;
  overflow: hidden;
  text-decoration: none;
}
.dark .directLink em,
.dark .directLink strong {
  color: #fff;
}
.directLink em {
  max-height: 95px;
  max-width: 140px;
  position: relative;
  vertical-align: top;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.directLink strong {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  max-height: 90px;
  overflow: hidden;
  padding: 0 0 0 10px;
  vertical-align: middle;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.directLink a[href^="video:"]:after,
.directLink.gal a:after,
.directLink.wtv a:after {
  background: #c20430 url("../i/news-app-icons.png") -11px -68px no-repeat;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  height: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
}
.directLink a[href^="video:"]:after,
.directLink.wtv a:after {
  background: none;
  border-color: transparent transparent transparent #15253d;
  border-style: solid;
  border-width: 9px 0 9px 18px;
  height: 20px;
  left: auto;
  right: 9px;
  width: 0;
}
.directLink.gal:before {
  background-color: #c20430;
}
.directLink.wtv:before {
  background-color: #15253d;
}
.dark .directLink.wtv:before {
  background-color: #fff;
}
.dark .directLink a[href^="video:"]:after,
.dark .directLink.wtv a:after {
  border-color: transparent transparent transparent #fff;
}
a[href^="video:"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #272727 !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
a[href^="video:"] img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
.iframeWrapper > a:before,
.liveVideo > a:before,
a[href^="video:"]:after {
  background: rgba(0, 0, 0, 0.3) url("../i/play.png") 50% no-repeat;
  background-size: 80%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  height: 50px;
  left: 50%;
  opacity: 0.9;
  padding-left: 0.2em;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  z-index: 2;
}
.app-cover .directLink.wtv:after,
.directLink.gal a[href^="video:"]:before,
.directLink.wtv a[href^="video:"]:before {
  display: none;
}
a[href^="video:"]:after {
  background-color: #c20430;
  background-position-x: 7px;
  border: 3px solid #fff;
  height: 60px;
  padding: 0;
  width: 60px;
}
a[href^="video:"] > span {
  color: inherit !important;
}
a[href^="video:"] u {
  text-decoration: none;
}
a[href^="video:"] em {
  font-style: normal;
}
.liveVideo {
  background-color: #3c3c3c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin: 0 0 15px;
  padding: 2px;
  width: 100%;
}
.liveVideo a {
  color: inherit;
}
.liveVideo a img {
  display: block;
  margin: 0;
  padding: 0;
}
.liveVideo .title {
  background: none;
  color: #fff;
  display: none;
  font-size: 25px;
  height: 65px;
  line-height: 75px;
  padding: 0 0 0 77px;
  position: relative;
}
.liveVideo.atv .title {
  padding: 0 0 0 67px;
}
.liveVideo .title span {
  background: no-repeat;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -999px;
  width: 67px;
}
.liveVideo.ahaber .title span {
  background-image: url(../i/liveVideoAhaberLogo.png);
  height: 75px;
  top: -28px;
}
.liveVideo.aspor .title span {
  background-image: url(../i/liveVideoAsporLogo.png);
  height: 75px;
  top: -23px;
}
.liveVideo.atv .title span {
  background-image: url(../i/liveVideoAtvLogo.png);
  height: 66px;
  top: -15px;
}
.liveVideo.a2 .title span {
  background-image: url(../i/liveVideoA2Logo.png);
  height: 66px;
  top: -15px;
}
.liveVideo.apara .title span {
  background-image: url(../i/liveVideoAparaLogo.png);
  height: 66px;
  top: -15px;
}
.iframeWrapper,
.liveVideo .player {
  padding: 0;
  position: relative;
  width: 100%;
}
.liveVideo iframe,
div:not(.election-iframe) > .iframeWrapper iframe {
  border: none;
  height: 100% !important;
  left: 0;
  margin-bottom: 0 !important;
  max-height: none !important;
  position: absolute;
  top: 0;
  width: 100% !important;
}
.iframeWrapper {
  margin: 20px 0;
}
.election-iframe {
  height: 650px;
  margin: 0 10px 10px 0;
  width: 100%;
}
.election-iframe .iframeWrapper {
  height: 100%;
  margin: 0;
  padding-bottom: 0;
}
.election-iframe .iframeWrapper iframe {
  border: none;
  height: 100%;
  position: static;
  width: 100%;
}
.election-iframe.dual {
  width: 100%;
}
.detail-electionIframe5 {
  margin-bottom: 10px;
}
.detail-electionIframe5 .iframeWrapper {
  height: auto !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  position: static !important;
}
.detail-electionIframe5.v1 iframe {
  height: 1010px !important;
  margin: 0 !important;
  position: static !important;
}
.detail-electionIframe5.v2 iframe {
  height: 800px !important;
  margin: 0 !important;
  position: static !important;
}
.ad-control-full,
.ad-control-left {
  text-align: center;
}
.ad-control-full {
  float: left;
  width: 100%;
}
.ad-control-full #id_d_300x250_detay,
.newsDetailText .newsBox .ad-control-full #id_d_300x250_detay_2 {
  display: inline-block;
  float: none !important;
}
.singleManset {
  margin-bottom: 20px;
  width: 100%;
}
.singleManset a {
  display: block;
}
.detail-electionIframe4 {
  margin-bottom: 3px;
}
.detail-electionIframe4.v4 iframe {
  height: 490px !important;
  margin: 0 !important;
  max-height: none !important;
}
.blockquote:not(.twitter-tweet),
blockquote:not(.twitter-tweet) {
  border: 4px solid #a40004;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #585858;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 40px 15px;
  padding: 25px 30px 20px 42px;
  position: relative;
  width: calc(100% - 30px);
  word-break: break-word;
  z-index: 1;
}
.blockquote:not(.twitter-tweet):after,
.blockquote:not(.twitter-tweet):before,
blockquote:not(.twitter-tweet):after,
blockquote:not(.twitter-tweet):before {
  background: #fff url(../i/blockquote-icon.jpg) no-repeat 0 0;
  content: "";
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: -1;
}
.blockquote:not(.twitter-tweet):before,
blockquote:not(.twitter-tweet):before {
  left: -13px;
  top: -20px;
}
.blockquote:not(.twitter-tweet):after,
blockquote:not(.twitter-tweet):after {
  background-position: -110px 16px;
  bottom: -25px;
  right: -15px;
}
.singleNews.pull-center,
.singleNews.pull-left,
.singleNews.pull-right {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.singleNews.view20 {
  margin-bottom: 20px;
}
.media-caption {
  background-color: #fffeef;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #a1a09b;
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: -2px;
  padding: 10px 8px;
  width: 100%;
}
.dark .media-caption {
  background-color: #363840;
  color: #f5f5f5;
}
.app-cover a .media-caption {
  text-decoration: none;
}
.directLink .media-caption {
  display: none;
}
.app-cover .kunye-cart li img {
  max-width: 60px;
}
.app-cover .iFrameResizer {
  height: 350px !important;
}
.title-format {
  margin: 0 0 10px !important;
}
.title-format.title-mb-md {
  margin: 0 0 25px !important;
}
.title-format.title-bold {
  font-weight: 700;
}
.title-format.title-red {
  color: #af0201;
}
.title-format.title-gray {
  color: #4e4e4e;
}
.title-format.title-tiny {
  font-weight: 500;
}
.title-format.title-xs {
  font-size: 22px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .title-format.title-xs {
    font-size: 28px;
    line-height: 24px;
  }
}
.title-format.title-sm {
  font-size: 22px;
  line-height: 28px;
}
@media (min-width: 768px) {
  .title-format.title-sm {
    font-size: 28px;
    line-height: 36px;
  }
}
.title-format.title-md {
  font-size: 26px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .title-format.title-md {
    font-size: 32px;
    line-height: 40px;
  }
}
.box-format {
  margin: 0 0 24px !important;
  position: relative;
}
.box-format ul {
  margin: 0 !important;
  padding: 0 !important;
}
.box-format.box-bg-red {
  background-color: #af0201;
}
.box-format.box-bg-lightgray {
  background: rgba(9, 62, 134, 0.04);
}
.box-format.box-bg-ligthred {
  background: rgba(237, 28, 36, 0.04);
}
.box-format.box-shadow {
  -webkit-box-shadow: 4px 4px 0 0 #093e86;
  box-shadow: 4px 4px 0 0 #093e86;
}
.box-format.box-pd {
  padding: 24px 18px;
}
@media (min-width: 768px) {
  .box-format.box-pd {
    padding: 24px 32px;
  }
}
.box-format.box-radius {
  border-radius: 4px;
}
.box-format.box-color-white {
  color: #fff;
}
.box-format.box-color-red {
  color: #af0201;
}
.box-format.box-color-dark {
  color: #4e4e4e;
}
.box-format.box-text-sm {
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .box-format.box-text-sm {
    font-size: 20px;
    line-height: 28px;
  }
}
.box-format.box-text-md {
  font-size: 19px;
  line-height: normal;
}
@media (min-width: 768px) {
  .box-format.box-text-md {
    font-size: 24px;
  }
}
.box-format.box-text-italic {
  font-style: italic;
}
.box-format.box-text-600 {
  font-weight: 600;
}
.box-format.box-text-tiny {
  font-weight: 500;
}
.box-format.box-text-bold {
  font-weight: 700;
}
.box-format.box-text-underline {
  text-decoration-color: #af0201;
  text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness: 12%;
  text-underline-offset: 15%;
  text-underline-position: from-font;
}
.box-format.box-md-border {
  border: 4px solid #af0201;
}
.box-format.box-sm-border {
  border: 1px solid #4e4e4e;
}
.box-format.box-left-border {
  border-left: 4px solid #af0201;
}
.box-format.box-format-02:before {
  background: url(../i/box-triangle.svg) no-repeat 50%;
  content: "";
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}
.box-format .list-item {
  display: block;
  font-size: 15px !important;
  list-style: none !important;
  margin-bottom: 26px !important;
  padding: 0 !important;
}
@media (min-width: 768px) {
  .box-format .list-item {
    font-size: 18px !important;
  }
}
.box-format .list-item:last-child {
  margin-bottom: 0;
}
.box-format ul:not(.pagination):not(.order-list-box) li.list-item:before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 24px;
  margin-right: 10px !important;
  margin: 0;
  position: relative;
  top: 1.5px;
  width: 24px;
  -ms-flex-preferred-size: auto;
  background: none;
  flex-basis: auto;
}
.box-format ul li.list-item.list-item-01:before {
  background: url(../i/list-type-01.svg) no-repeat 50% !important;
}
.box-format ul li.list-item.list-item-02:before {
  background: url(../i/list-type-02.svg) no-repeat 50% !important;
}
.box-format ul li.list-item.list-item-03:before {
  background: url(../i/list-type-03.svg) no-repeat 50% !important;
}
@media screen and (min-width: 576px) {
  .ad-control-left {
    float: left;
  }
  .detail-electionIframe4.v4 iframe {
    height: 470px !important;
  }
}
@media screen and (min-width: 768px) {
  .size1 {
    font-size: 14px;
  }
  .size2 {
    font-size: 16px;
  }
  .size3 {
    font-size: 18px;
  }
  .size4 {
    font-size: 20px;
  }
  .size5 {
    font-size: 22px;
  }
  .size6 {
    font-size: 24px;
  }
  .size7 {
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) {
  .election-iframe {
    float: left;
    width: 300px;
  }
}
@media screen and (max-width: 845px) {
  .directLink strong {
    font-size: 18px;
    line-height: 22px;
    padding-top: 0;
  }
}
@media screen and (max-width: 420px) {
  .directLink strong {
    font-size: 14px;
    line-height: 18px;
  }
  .directLink.gal a,
  .directLink.wtv a {
    padding-right: 55px;
  }
}
@media screen and (max-width: 320px) {
  .directLink.gal a,
  .directLink.wtv a {
    padding-right: 24px;
  }
  .directLink.gal:after,
  .directLink.wtv:after {
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    top: 32px;
    width: 25px;
  }
}
